/* SILIDER IMAGE AREA */

@media screen and (min-width: 769px) {
  .slidder-bg {
    background-image: url("./images/landing_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;
  }
}
@media screen and (max-width: 768px) {
  .slidder-bg {
    background-image: url("./images/landing_image_sm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;
  }
}

/* SEARCH PROPERTY AREA */

@media screen and (min-width: 768px) {
  .search-area {
    background-color: rgb(32, 31, 31);
    width: 70vw;
    /* padding: 5%; */
    border-radius: 5px;
    opacity: 0.9;
  }
}

@media screen and (min-width: 1200px) {
  .search-area {
    background-color: rgb(32, 31, 31);
    width: 60vw;
    /* padding: 5%; */
    border-radius: 5px;
    opacity: 0.9;
  }
}

@media screen and (max-width: 768px) {
  .search-area {
    background-color: rgb(32, 31, 31);
    width: 95vw;
    padding: 5%;
    border-radius: 5px;
    opacity: 0.9;
  }
}

/* SELF ADV AREA */

.self-ad-jumbo-txt {
  color: white;
  font-weight: normal;
}

.link-self-ad {
  font-size: 1.3em !important;
  font-weight: bold !important;
  color: rgb(65, 168, 24) !important;
}

.link-self-ad:hover {
  color: rgb(52, 103, 31) !important;
}

/* PROPERTU ALBUM AREA */

.album-link {
  background-color: rgb(205, 226, 205);
}

/* FEATURED LIST CAROUSEL AREA */
.featured-list-image {
  border-radius: 50%;
}

.featured-list-container {
  position: relative;
  top: 0;
  z-index: 2;
}

#featured-list-control {
  position: absolute;
  top: 50%;
  width: 98%;
  margin-left: 5px;
}

@media screen and (min-width: 900px) {
  .featured-list-control-item {
    cursor: pointer;
    background-color: rgb(235, 233, 233);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
  }

  .featured-list-control-item:hover {
    background-color: rgb(162, 185, 163);
  }
}

@media screen and (max-width: 899px) {
  #featured-list-control {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  #load-more-btn {
    display: none !important;
  }
}

hr.region-city-separator {
  height: 2px;
  background: black;
}

.search-by-city {
  background-color: #acc;
  padding: 2%;
  border-radius: 10px;
}

/* WHO ARE YOU AREA  */

.who-are-you-header {
  background-color: rgb(205, 226, 205);
}

.who-are-you-area {
  margin-top: 3%;
  margin-bottom: 3%;
}

.feature-card:hover {
  background-color: #eef;
}
